{% extends "base/base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    {% include "base/filter_form.html" %}
    <table class="table text-light">
        <thead>
            <tr>
                <td><b>Username</b></td>
                <td><b>Name</b></td>
                <td><b>Email</b></td>
                <td><b>Staff</b></td>
                <td><b>Administrator</b></td>
            </tr>
        </thead>
        <tbody>
            {% for user_ in users %}
                <tr>
                    <td><a href="{% url 'users:detail' user_.id %}">{{ user_.username }}</a></td>
                    <td>{{ user_.full_name }}</td>
                    <td>{{ user_.email }}</td>
                    <td>{{ user_.is_staff|yesno:"Yes,No" }}</td>
                    <td>{{ user_.is_superuser|yesno:"Yes,No" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "base/paginator.html" %}
{% endblock content %}